# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
widgets_app/android/app/build/
widgets_app/android/app/.externalNativeBuild/
widgets_app/android/app/.cxx/
widgets_app/android/app/debug/
widgets_app/android/app/profile/
widgets_app/android/app/release/

# Local configuration file (sdk path, etc)
widgets_app/android/local.properties

# Built application files
widgets_app/android/app/build/outputs/apk/debug/app-debug.apk
widgets_app/android/app/build/outputs/apk/profile/app-profile.apk
widgets_app/android/app/build/outputs/apk/release/app-release.apk
